In [30]:
import pandas as pd
import numpy as np
import sys,os
import matplotlib.pyplot as plt
plt.style.use('ggplot')

# Definig the data path

In [31]:
df = pd.read_csv('../data/benin-malanville.csv')
data = pd.read_csv('../data/sierraleone-bumbuna.csv')
dt = pd.read_csv('../data/togo-dapaong_qc.csv')

# Checking the Data Types

In [32]:
df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [33]:
data.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [34]:
dt.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

# Checking the missing value

In [35]:
df.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [36]:
data.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [37]:
dt.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

# Checking Duplicate values

In [38]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
525595    False
525596    False
525597    False
525598    False
525599    False
Length: 525600, dtype: bool

In [39]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
525595    False
525596    False
525597    False
525598    False
525599    False
Length: 525600, dtype: bool

In [40]:
dt.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
525595    False
525596    False
525597    False
525598    False
525599    False
Length: 525600, dtype: bool